<template>  
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
      <div v-for="product in products" v-bind:key="product.id">
        <div class="image-card__picture">
          <p><a v-bind:href="'/catalog/'+product.id">
            <img v-bind:src="product.img_src" v-bind:alt="product.name"/>
          </a></p>
        </div>
        <div class="image-card__comment mdl-card__actions">
          <p><a v-bind:href="'/catalog/'+product.id">
            <span>{{ product.name }}</span>
          </a></p>
        </div>
      </div>
    </div>
  </div>  
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: mapState({
    products: state => state.products
  }),
  beforeMount() {
    this.$store.dispatch("loadProducts");
  }
};
</script>

<style scoped>
  .add-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
  }
  .take-picture-button {
    position: fixed;
    right: 24px;
    bottom: 90px;
    z-index: 5;
  }
  .image-card {
    position: relative;
    margin-bottom: 8px;
  }
  .image-card__picture > img {
    width:100%;
  }
  .image-card__comment {
    position: relative;
    bottom: 0;
    height: 52px;
    padding: 10px;
    text-align: right;
    background: rgba(0, 0, 0, 0.3);
  }
  .image-card__comment > span {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
</style>
