<template>  
    <div class="mdl-grid" align="center">
        <div class="mdl-cell mdl-cell--8-col">
            <h2>{{ product.name }}</h2>
            <div class="picture">
                <img v-bind:src="product.img_src" v-bind:alt="product.name"/>
            </div>
            <div class="info">
                <h3>Product Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Category : {{ product.category }}</p>
                <p>Language : {{ product.language }}</p>
                <p>Price : {{ product.price }}</p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
            <div class="comment" align="center">
                <textarea type="text" v-model="text" placeholder="Comment"></textarea>
                <input type="text" v-model="author" placeholder="Author name">
                <button v-on:click="appendComment">Add Comment</button>
            </div>
            <div class="comments-box" v-for="comment in product.comments.reverse()" v-bind:key="comment.id" align="left">
                <p class="author">{{ comment.author }} :</p>
                <p class="text"> {{ comment.text }}</p>
            </div>
        </div>
        <router-link class="whishlist-picture-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored" to="/">
            <i class="material-icons">Whishlist it!</i>
        </router-link>
        <router-link class="cart-picture-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored" to="/">
           <i class="material-icons">Cart it!</i>
        </router-link>
    </div>
</template>

<script>  

export default {  
  methods: {
    data() {
        return {
            author: '',
            text: '',
        }
    },
    appendComment (){
        const comment = { author: this.author, text: this.text }
        this.product.comments.push(comment);

        this.addComment(this.product.id, comment);
        this.author="";
        this.text="";
    },
    addComment(pid, comment){
        this.$store.dispatch('addComment', { pid, comment });
    },
  },
  beforeMount() {
    this.$store.dispatch('loadProduct', { id: parseInt(this.$route.params.id) })
  },
  computed: {
    product() {
        return this.$store.state.currentProduct
    }
  },
    
}
</script>

<style scope>

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#demo{
    margin: 20px 0 0 0;
}

textarea{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    height: 70px;
    font-family: Verdana, Helvetica, sans-serif;
    padding: 5px;
}

input{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

button{
    background: #333;
    color: #ccc;
    border: 0;
    padding: 5px;
    cursor: pointer;
}

/*Comment Box*/

.comments-box{
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-bottom: 1px solid #000;
}
.author{
    color: rgb(221, 63, 63);
    margin: 10px 0;
    font-weight: bold;
}
.text{
    color: rgb(63, 10, 10);
    margin: 10px 0;
    font-weight: italic;
}
.picture > img {
    color: #fff;
    width:100%;
}
.info {
    text-align: right;
    padding: 5px;
    color: #555;
    font-size: 10px;
}
.comment {
    padding: 10px;
    color: #555;
}
.actions {
    text-align: center;
}
.whishlist-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
}
.cart-picture-button {
    position: fixed;
    right: 24px;
    bottom: 90px;
    z-index: 5;
}
</style>  
